/* markup container div */
.markup{
    position: relative;
}

.annotation-wrapper{
    margin-bottom: 1px;
    position: absolute;
    min-height: 1px;
}

/* annotation inner div */
.annotation-inner{
}