/* markup container div */
.markup{
    position: relative;
}

.annotation-wrapper{
    margin-bottom: 1px;
    position: absolute;
}

/* annotation inner div */
.annotation-inner{
    position: absolute;
}